---
apiVersion: v1
kind: Service
metadata:
  name: sample-jvm-app
  annotations:
    prometheus.io/scrape: 'true'
  labels:
    app: sample-jvm-app
    group: ns-quotas-test
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: sample-jvm-app
    group: ns-quotas-test
---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: sample-jvm-app
  labels:
    app: sample-jvm-app
    group: ns-quotas-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sample-jvm-app
      group: ns-quotas-test
  template:
    metadata:
      labels:
        app: sample-jvm-app
        group: ns-quotas-test
    spec:
      containers:
        - name: sample-jvm-app
          image: pnyak/sample-jvm-app:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /actuator/prometheus
              port: 8080
          readinessProbe:
            httpGet:
              path: /actuator/prometheus
              port: 8080
